@CHARSET "UTF-8";

/*
 * GLOBAL
 */

body {
    color: #404040;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    background-color: #f5f5f5;
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}
p {
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 20px;
}
a {
    text-decoration: none;
    color: inherit;
}

/*
 * Application
 */

.app-title {
    padding: 15px 0;
}

/*
 * Page
 */

.view {
    width: 740px;
    margin: 0 auto;
}

/*
 * Page "articles"
 */

.view.articles {

}

/*
 * Page "article"
 */

.view.articles {

}

.article-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.article-overview,
.article-details {
    background-color: #fff;
    padding: 20px 70px;
    margin: 0 0 15px 0;
    border-top: 4px solid #e95325;
}

.article-header {

}

.article-title {
/*
    color: #e95325;
    border-bottom: 1px solid #e95325;
*/
    padding-bottom: 5px;
}
.article-title:hover {
    color: #f39539;
/*
    border-bottom: 1px solid #f39539;
*/
}
.article-link {

}

.article-meta {
    color: #AAA;
}

.article-author {

}

.article-publication-date {

}

.article-body {

}

.article-excerpt {

}

.article-footer {

}
